

*{
    margin: 0;
    padding: 0;
}
body .marichu{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("images/background.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    position: relative;
    border-radius: 30px;
    margin-bottom: 0;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#buttonz{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height:100%;
    background: linear-gradient(to right ,#ff105d,#ffad06);
    border-radius: 30px;
    transition: .5s;
}

.login{
  width: 400px;
  height: 480px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 10px;
  /* margin: 30px 20px; */
  text-align: center;
  position: relative;
  background: #fff;
  overflow: hidden;

}

.submitForm{
    margin: 0;
}
.input-box{
  border-radius: 10px;
  padding: 10px;
  bottom: 0;
  margin: 5px 0;
  margin-right: 10px;
  width: 97%;
  border: 1px solid #ff105d;
  outline: none;
}
a:hover{
    color:red;
}
.btn-submit{
  background: linear-gradient(to right, #ff105d, #ffad06);
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border:none;
  outline: none;
  cursor: pointer;
}
/*  */
#login{
    left: 50px;
}
#signup{
    left: 480px;
}
.input-group{
    top:130px;
    position: absolute;
    width: 280px;
    transition: .5s;
    margin-left: 20px;
}
